@model StartUp
<h2>Company Details</h2>
<img href="@Model.Image" />
@if (Model.Status == "Lead")
{
    <p>Company Name: @Model.CompanyName</p>
    <p>Source: @Model.Source</p>
    <p>Date Added: @Model.DateAdded</p>
    <p>Company Website: @Model.CompanyWebsite</p>
    <p>Location: @Model.City, @Model.StateProvince, @Model.Country</p>
    <p>Two-Line Summary: @Model.TwoLineSummary</p>
    <p>Contact: @Model.ContactId</p>
}
else
{
    <p>Company Name: @Model.CompanyName</p>
    <p>Source: @Model.Source</p>
    <p>Date Added: @Model.DateAdded</p>
    <p>Company Website: @Model.CompanyWebsite</p>
    <p>Location: @Model.City, @Model.StateProvince, @Model.Country</p>
    <p>Two-Line Summary: @Model.TwoLineSummary</p>
    <p>Contact: @Model.ContactId</p>
    <p>Themes: @Model.Themes</p>
    <p>Landscapes: @Model.Landscapes</p>
    <p>Technology Areas: @Model.TechnologyAreas</p>
    <p>Alignments: @Model.Alignments</p>
    <p>Status: @Model.Status</p>
}
<button type="button">Edit @Model.Status Record</button>