@model Startup
<h2>Company Details</h2>
<img href="@Startup.Image" width:"33%"/>
<p>Company Name: @Startup.CompanyName</p>
<p>Source: @Startup.Source</p>
<p>Location: @Startup.City, @Startup.Region, @Startup.Country</p>
<p>Date Added: @Startup.DateAdded</p>
