@model ScoutFieldLog_GroupProject.Models.Evaluation
@{
    ViewData["Title"] = "Create Evaluation";
}
<h2>@ViewBag.Title</h2>
@if (ViewBag.Message != null)
{
    <p>@ViewBag.Message</p>
}
@* Company Name *@
@if (ViewBag.CompanyName != null)
{
    <h3>@ViewBag.CompanyName</h3>
}
else
{
    <h3>Company Id: @ViewBag.CompanyId</h3>
}
@if (ViewBag.TwoLineSummary != null)
{
    <p>@ViewBag.TwoLineSummary</p>
}
<form method="POST">
    @* Input company Id *@
    <input type="hidden" name="companyId" value="@ViewBag.CompanyId" />
    <input type="hidden" name="DateEvaluated" value='@DateTime.Today.ToString("MM/dd/yyyy")' />
    <div id="alignmentScores">
        <p>Alignments</p>
        @{
            string[] partnerCompaniesArray = new string[] { "Amway", "Bissell", "Emergent", "Faurecia", "Priority", "Steelcase", "Trinity", "Wakestream", "Whirlpool" };
            foreach (string p in partnerCompaniesArray)
            {
                <input type="checkbox" name="AlignmentScore" value="@p" />@p
                <br />
            }
        }
    </div>
    <div id="themes">
        @Html.DisplayNameFor(e => e.Themes)
        <br />
        @{
            string[] themesArray = new string[] { "The Good Life", "Health Beyond the Hospital", "Robust Future", "Convenience & Productivity" };
            foreach (string theme in themesArray)
            {
                <input type="checkbox" name="selectedThemes" value="@theme" />@theme
                <br />
            }
        }
    </div>
    <div id="landscapes">
        @Html.DisplayNameFor(e => e.Landscapes)
        <br />
        @{
            string[] landscapesArray = new string[] { "Aging in Place", "Air Quality", "Automation and Robotics", "Clinic in a Box", "Good Habits", "Personalized Wellness", "Responsive Spaces", "Safe Shared Spaces", "Wireless Power" };
            foreach (string landscape in landscapesArray)
            {
                <input type="checkbox" name="selectedLandscapes" value="@landscape" />@landscape
                <br />
            }
        }
    </div>
    <div id="technologyAreas">
        @Html.DisplayNameFor(e => e.TechnologyAreas)
        <br />
        @{
            string[] technologyAreasArray = new string[] { "Advanced Materials", "Business Process", "Products", "Robotics", "Sensing", "Software / AI" };
            foreach (string technologyArea in technologyAreasArray)
            {
                <input type="checkbox" name="selectedTechnologyAreas" value="@technologyArea" />@technologyArea
                <br />
            }
        }
    </div>
    <div id="uniquenessScore">
        @Html.DisplayNameFor(e => e.UniquenessScore)
        <select id="uniquenessScore" name="UniquenessScore">
            @{
                for (int i = 0; i <= 5; i++)
                {
                    <option value="@i">@i</option>
                }
            }
        </select>
    </div>
    <div id="teamScore">
        @Html.DisplayNameFor(e => e.TeamScore)
        <select id="teamScore" name="TeamScore">
            @{
                for (int i = 0; i <= 5; i++)
                {
                    <option value="@i">@i</option>
                }
            }
        </select>
    </div>
    <div id="potentialScore">
        @Html.DisplayNameFor(e => e.PotentialScore)
        <select id="potentialScore" name="PotentialScore">
            @{
                for (int i = 0; i <= 5; i++)
                {
                    <option value="@i">@i</option>
                }
            }
        </select>
    </div>
    <div id="comment">
        @Html.DisplayNameFor(c => c.Comment)
        <br />
        <textarea rows=10 cols=100 name="Comment" maxlength="1500" , placeholder="@Html.DisplayNameFor(c => c.Comment)" wrap="hard"></textarea>
    </div>
    <div id="buttons">
        <input type="reset" value="Reset" />
        <input type="submit" value="Submit" />
    </div>
</form>







