@model StartUpCompanies
@{
    ViewBag.Title = "Edit Company";
}
@if (Model.Status == "Lead")
{
    <h2>Edit Lead</h2>
}
else
{
    <h2>Edit Startup</h2>
}
@if (ViewBag.message != null)
{
    @ViewBag.message
}
@if (Model.Image != null)
{
    <img src="@Model.Image" alt="Company Logo" width="500" />
}
<h3>@Model.CompanyName</h3>
<form method="POST">

    @Html.HiddenFor(model => model.Id)

    <table class="table">
        <tr>
            <td>
                @Html.DisplayNameFor(c => c.CompanyName)
            </td>
            <td>
                <input type="text" id="CompanyName" name="CompanyName" placeholder="@Model.CompanyName" value="@Model.CompanyName" />

            </td>
        </tr>

        @*Edit PartnerCompany*@

        <tr>
            <td>
                @Html.DisplayNameFor(c => c.Alignments)
            </td>
            <td>
                <input type="checkbox" name="PartnerCompany" value="Amway" checked='@Model.Alignments.Contains("Amway")'>Amway<br />
                <input type="checkbox" name="PartnerCompany" value="Bissell" checked='@Model.Alignments.Contains("Bissell")'>Bissell<br />
                <input type="checkbox" name="PartnerCompany" value="Emergent" checked='@Model.Alignments.Contains("Emergent")'>Emergent<br />
                <input type="checkbox" name="PartnerCompany" value="Faurecia" checked='@Model.Alignments.Contains("Faurecia")'>Faurecia<br />
                <input type="checkbox" name="PartnerCompany" value="Priority" checked='@Model.Alignments.Contains("Priority")'>Priority<br />
                <input type="checkbox" name="PartnerCompany" value="Steelcase" checked='@Model.Alignments.Contains("Steelcase")'>Steelcase<br />
                <input type="checkbox" name="PartnerCompany" value="Trinity" checked='@Model.Alignments.Contains("Trinity")'>Trinity<br />
                <input type="checkbox" name="PartnerCompany" value="Wakestream" checked='@Model.Alignments.Contains("Wakestream")'>Wakestream<br />
                <input type="checkbox" name="PartnerCompany" value="Whirlpool" checked='@Model.Alignments.Contains("Whirlpool")'>Whirlpool<br />
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(c => c.CompanyWebsite)
            </td>
            <td>
                <input type="text" id="CompanyWebsite" name="CompanyWebsite" placeholder="@Model.CompanyWebsite" value="@Model.CompanyWebsite" />
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(c => c.CompanyContactName)
            </td>
            <td>
                <input type="text" id="CompanyContactName" name="CompanyContactName" placeholder="@Model.CompanyContactName" value="@Model.CompanyContactName" />
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(c => c.CompanyContactPhoneNumber)
            </td>
            <td>
                <input type="number" id="CompanyContactPhoneNumber" name="CompanyContactPhoneNumber" placeholder="@Model.CompanyContactPhoneNumber" value="@Model.CompanyContactPhoneNumber" />
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(c => c.TwoLineSummary)
            </td>
            <td>
                <textarea rows=3 cols=50 name="TwoLineSummary" maxlength=250, placeholder="@Model.TwoLineSummary" value="@Model.TwoLineSummary" wrap="hard">@Model.TwoLineSummary</textarea>
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(c => c.Status)
            </td>
            <td>
                <input type="radio" id="Lead" name="Status" value="Lead" checked />
                <label for="Lead">Lead</label>
                <br />
                <input type="radio" id="UnderConsideration" name="Status" value="UnderConsideration" />
                <label for="Startup">Under Consideration</label>
                <br />
                <input type="radio" id="Reviewed" name="Status" value="Reviewed" />
                <label for="Startup">Reviewed</label>
                <br />
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(c => c.Raised)
            </td>
            <td>
                <input type="text" id="Raised" name="Raised" placeholder="@Model.Raised" value="@Model.Raised" />
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(c => c.DateAssigned)
            </td>
            <td>
                @if(@Model.DateAssigned != null)
                {
                   <input type="date" id="DateAssigned" name="DateAssigned" placeholder='@Model.DateAssigned.Value.ToString("MM/dd/yyyy")' value='@Model.DateAssigned.Value.ToString("MM/dd/yyyy")' />
                }
                else
                {
                    <input type="date" id="DateAssigned" name="DateAssigned"  />
                }
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(c => c.ScoutName)
            </td>
            <td>
                <input type="text" id="ScoutName" name="ScoutName" value="@Model.ScoutName" placeholder="@Model.ScoutName" />
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(c => c.DateReviewed)
            </td>
            <td>
                @if(@Model.DateReviewed != null)
                {
                <input type="date" id="DateReviewed" name="DateReviewed" placeholder='@Model.DateReviewed.Value.ToString("MM/dd/yyyy")' value='@Model.DateReviewed.Value.ToString("MM/dd/yyyy")' />
                }
                else
                {
                <input type="date" id="DateReviewed" name="DateReviewed" />
                }
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(c => c.City)
            </td>
            <td>
                <input type="text" id="City" name="City" placeholder="@Model.City" value="@Model.City" />
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(c => c.StateProvince)
            </td>
            <td>
                <input type="text" id="StateProvince" name="StateProvince" placeholder="@Model.StateProvince" value="@Model.StateProvince" />
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(c => c.Country)
            </td>
            <td>
                <input type="text" id="Country" name="Country" placeholder="@Model.Country" value="@Model.Country" />
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(c => c.Image)
            </td>
            <td>
                <textarea rows=3 cols=50 name="Image" id="Image" maxlength=500, placeholder="@Model.Image" value="@Model.Image" wrap="hard">@Model.Image</textarea>
            </td>
        </tr>
        @*Checkbox Inputs: Themes*@
        <tr>
            <td>
                @Html.DisplayNameFor(c => c.Themes)
            </td>
            <td>
                <input type="checkbox" name="Theme" value="The Good Life" >The Good Life < br />
                <input type="checkbox" name="Theme" value="Health Beyond the Hospital" >Health Beyond the Hospital<br />
                <input type="checkbox" name="Theme" value="Robust Future" >Robust Future<br />
                <input type="checkbox" name="Theme" value="Convenience & Productivity" >Convenience & Productivity<br />              
            </td>
        </tr>
        @*Checkbox Inputs: Landscapes NEEDS ADJUSTMENTS*@
        <tr>
        
            <td>
                @Html.DisplayNameFor(c => c.Uniqueness)
            </td>
            <td>
                <select id="Uniqueness" name="Uniqueness">
                    @{
                        for (int i = 1; i <= 5; i++)
                        {
                            if (Model.Uniqueness == i)
                            {
                                <option value="@i" selected>@i</option>
                            }
                            else
                            {
                                <option value="@i">@i</option>
                            }
                        }
                    }
                </select>
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(c => c.Team)
            </td>
            <td>
                <select id="Team" name="Team">
                    @{
                        for (int i = 1; i <= 5; i++)
                        {
                            if (Model.Team == i)
                            {
                                <option value="@i" selected>@i</option>
                            }
                            else
                            {
                                <option value="@i">@i</option>
                            }


                        }
                    }
                </select>
            </td>
        </tr>
        @*Buttons*@
        <tr>
            <td>
                @Html.DisplayNameFor(c => c.TechnologyAreas)
            </td>
            <td>
                <input type="checkbox" id="technologyArea1" name="technologyArea1" value="Software / AI" />
                <label for="technologyArea1">Software / AI</label>
                <br />
                <input type="checkbox" id="technologyArea2" name="technologyArea2" value="Sensing" />
                <label for="technologyArea2">Sensing</label>
                <br />
                <input type="checkbox" id="technologyArea3" name="technologyArea3" value="Robotics" />
                <label for="technologyArea3">Robotics</label>
                <br />
                <input type="checkbox" id="technologyArea4" name="technologyArea4" value="Advanced Materials" />
                <label for="technologyArea4">Advanced Materials</label>
                <br />
                <input type="checkbox" id="technologyArea5" name="technologyArea5" value="Products" />
                <label for="technologyArea5">Products</label>
                <br />
                <input type="checkbox" id="technologyArea6" name="technologyArea6" value="Business Process" />
                <label for="technologyArea6">Business Process</label>
                <br />
            </td>
        </tr>
        }
        <tr>
            <td>
                <input type="reset" value="Reset" />
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Submit" />
            </td>
        </tr>
    </table>
</form>