@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@model List<StartUpCompanies>

@{
    ViewData["Title"] = "Home Page";
}

<h1 class="display-4">Welcome to _________ </h1>
@if (SignInManager.IsSignedIn(User))
{
    <div class="text-center">
        <div>
            <form method="get">
                <button type="submit" formaction="/Home/ScoutForm">Go to Scout Form</button>
            </form>
            <h5>You are logged as @User.Identity.Name</h5>
            <form method="post">
                <button formaction="/Home/Logout">Logout</button>
            </form>
        </div>
    </div>
}
else
{
    <div class="text-center">
        <div>
            <form method="get">
                <button type="submit" formaction="/Home/ScoutForm">Go to Scout Form</button>
            </form>
            <form method="get">
                <button formaction="/Identity/Account/Login">Login</button>
            </form>
        </div>
    </div>
}

@*Search Form*@
<h3>Startups</h3>
<div id="search-form">
    <form action="/Home/StartupSearch" method="post">
        <input type="text" name="CompanyName" value="" />
        <input type="submit" value="Search" />
    </form>
</div>

@if (Model != null)
{
    // Simple Results List
@*<div>
    @foreach (var startup in Model)
    {
        <p><a href="/Home/CompanyDetails/companyId=@startup.Id">@startup.CompanyName</a></p>
    }
</div>*@
    // Extended Results List
<div>
    <form method="get">
        <button type="submit" formaction="ScoutForm">Add New Startup</button>
    </form>
    @*<p>@Html.ActionLink("Create New", "CreateCompany")</p>*@
    <table class="table">
        <tr>
            <th>
                Company Name
            </th>
            <th>
                Date Added
            </th>
            <th>
                Source
            </th>
            <th>
                Image
            </th>
            <th>
                Two-Line Summary
            </th>
            <th></th>
        </tr>
        @foreach (var company in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(@company.CompanyName, "CompanyDetails", new { companyid = company.Id })
                </td>
                <td>
                    @Html.DisplayFor(x => company.DateAssigned)
                </td>
                <td>
                    @if (company.Image != null)
                    {
                        <img src="@company.Image" alt="Company Logo" width="300" />
                    }
                </td>
                <td>
                    @Html.DisplayFor(x => company.TwoLineSummary)
                </td>
                <td>
                    <form method="get">
                        <button type="submit" formaction="CompanyDetails/companyId=@company.Id">Details</button>
                    </form>
                    <form method="get">
                        <button type="submit" formaction="EditCompany/companyId=@company.Id">Edit</button>
                    </form>
                    <form method="get">
                        <button type="submit" formaction="DeleteCompany/companyId=@company.Id">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </table>
</div>
}
