@model IEnumerable<ScoutFieldLog_GroupProject.Models.StartUp>
@{
    ViewBag.Title = "Leads List";
}
<h2>Company List</h2>
@*<p>@Html.ActionLink("Create New", "CreateCompany")</p>*@
<h3>Leads</h3>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(x => x.CompanyName)
        </th>
        <th>
            @Html.DisplayNameFor(x => x.DateAdded)
            <br />
        </th>
        <th>
            @Html.DisplayNameFor(x => x.Source)
        </th>
        <th>
            @Html.DisplayNameFor(x => x.Image)
        </th>
        <th>
            @Html.DisplayNameFor(x => x.TwoLineSummary)
        </th>
        <th></th>
    </tr>
    @foreach (var company in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(@company.CompanyName, "DetailsCompany", new { companyid = company.Id })
            </td>
            <td>
                @Html.DisplayFor(x => company.DateAdded)
            </td>
            <td>
                @Html.DisplayFor(x => company.Source)
            </td>
            <td>
                @if (company.Image != null)
                {
                    <img src="@company.Image" alt="Company Logo" width="300" />
                }
            </td>
            <td>
                @Html.DisplayFor(x => company.TwoLineSummary)
            </td>
            <td>
                @Html.ActionLink("Details", "DetailsCompany", new { companyId = company.Id })
                @Html.ActionLink("Edit", "EditCompany", new { companyId = company.Id })
                @*@Html.ActionLink("Delete", "DeleteCompany", new { companyId = company.Id})*@
            </td>
        </tr>
    }
</table>
@*<h3>Startups (Pre-Evaluation)</h3>
    <h3>Startups (Evaluated)</h3>
    <h3>Startups (Reviewed)</h3>*@
