@model Evaluation
@*Message*@
@if (ViewBag.Message != null)
{
    <h4>@ViewBag.Message</h4>
}
<h2>Review Evaluation</h2>
@if (@Model == null)
{
    <p>No evaluation found.</p>
}
else
{
    // Company Image
    @if(Model.CompanyName != null)
    {
        <h3>@Model.CompanyName</h3>
    }
    else
    {
        <h3>Company Id: @Model.StartUpCompaniesId</h3>
    }
<table class="table">
    <tr>
        <td>
            @Html.DisplayNameFor(x => x.Author)
        </td>
        <td>
            @Html.DisplayFor(x => x.Author)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(x => x.Posted)
        </td>
        <td>
            @Html.DisplayFor(x => x.Posted.Date)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(x => x.Alignments)
        </td>
        <td>
            @Html.DisplayFor(x => x.Alignments)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(x => x.Themes)
        </td>
        <td>
            @Html.DisplayFor(x => x.Themes)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(x => x.Landscapes)
        </td>
        <td>
            @Html.DisplayFor(x => x.Landscapes)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(x => x.TechnologyAreas)
        </td>
        <td>
            @Html.DisplayFor(x => x.TechnologyAreas)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(x => x.Uniqueness)
        </td>
        <td>
            @Html.DisplayFor(x => x.Uniqueness)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(x => x.Team)
        </td>
        <td>
            @Html.DisplayFor(x => x.Team)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(x => x.Potential)
        </td>
        <td>
            @Html.DisplayFor(x => x.Potential)
        </td>
    </tr>
    @if (User.HasClaim("Role", "Partner"))
    {
        <tr>
            <td>
                @Html.DisplayNameFor(x => x.Interest)
            </td>
            <td>
                @Html.DisplayFor(x => x.Interest)
            </td>
        </tr>
    }
    <tr>
        <td>
            @Html.DisplayNameFor(x => x.Comment)
        </td>
        <td>
            @Html.DisplayFor(x => x.Comment)
        </td>
    </tr>
</table>
}
<div id="buttons">
    @*@Html.ActionLink("Save", "PromoteLead", new { company = Model })*@
    <form action="AnalyzeStartup">
        <input type="hidden"
               name="companyId"
               value="@Model.StartUpCompaniesId" />
        <input type="submit"
               value="Analyze" />
    </form>
    <form action="CompanyDetails">
        <input type="hidden"
               name="companyId"
               value="@Model.StartUpCompaniesId" />
        <input type="submit"
               value="Company Details" />
    </form>
    <form action="ReviewEvaluations">
        <input type="submit"
               value="All Evaluations" />
    </form>
</div>