@model IEnumerable<ScoutFieldLog_GroupProject.Models.RecommendedAlignment>
@{
    ViewBag.Title = "Similar Startups";
}
<h3>Similar Startups</h3>

<h4>Company ID: @ViewBag.CompanyId</h4>
<h4>Company Name: @ViewBag.CompanyName</h4>
<h4>Two-Line Summary: @ViewBag.TwoLineSummary</h4>
<h4>Keywords: @ViewBag.Keywords</h4>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(x => x.CompanyName)
        </th>
        <th>
            @Html.DisplayNameFor(x => x.TechnologyAreas)
        </th>
        <th>
            @Html.DisplayNameFor(x => x.KeywordsMatched)
        </th>
        <th>
            @Html.DisplayNameFor(x => x.TwoLineSummary)
        </th>
        <th>
            @Html.DisplayNameFor(x => x.Alignments)
        </th>
        <th></th>
    </tr>
    @foreach (var company in Model)
    {
        <tr>
            <td>
                @*CompanyName*@
                @*Link to Company Details View*@
                @Html.ActionLink(@company.CompanyName, "CompanyDetails", new { companyid = company.Id })
            </td>
            <td>
                @Html.DisplayFor(x => company.TechnologyAreas)
            </td>
            <td>
                @Html.DisplayFor(x => company.KeywordsMatched)
            </td>
            <td>
                @Html.DisplayFor(x => company.TwoLineSummary)
            </td>
            <td>
                @Html.DisplayFor(x => company.Alignments)
            </td>
        </tr>
    }
</table>
